.container {
    @media screen and (max-width: 1280px) {
        height: 100px;
        width: 200px
    }
    & > .item {
        @media screen and (max-width) {
            height: 400px;
        }
    }
}