.top-level-rule {
    @media screen and (max-width: 800px) {
        color: red;
        background-color: aliceblue;
    }
    & > some-nested-rule {
        color: green;
    }
    .container {
        @media screen and (max-width: 500px) {
             display: flex;
             .item {
                flex: 1;
             }
        }
    }
}