a {
    @media screen {
      b {
        @media (max-width: 100rem) {
          y: y;
          c {
            @media (min-width: 50rem) {
              x: x
            }
          }
        }
      }
    }
}