.root {
    .container {
        display: flex;
        .item {
            flex: 1;
        }
    }
    & > some-child {
        padding: 12px;
        & > nested-child {
            color: red;
        }
    }
    &__bem_naming {
        margin: 12px;
        & > another__bem__naming {
            color: green;
        }
    }
}